/*css reset start*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
button,select { text-transform: none;}
button,html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button;}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button,html [type="button"], [type="reset"],[type="submit"] { -webkit-appearance: button;}
[type="checkbox"],[type="radio"] { box-sizing: border-box; padding: 0;}
.clear {
    height: 0px;
    line-height: 0px;
    clear: both;
    overflow: hidden;
    font-size: 0px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}
/*css reset end*/

body {
	width: 100%;
	height: 100%;
	position: relative;
}
/*侧边栏*/
.sidebar {
	width: 130px;
	background-color: #3F3F3F;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.logo {
	position: relative;
	top: 14px;
	left: 32px;
	width: 86px;
	height: 32px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	border: none;
	border-radius: 3px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 12px;
	color: #FFFFFF;
}
.navbar-color .navbar-header > a:hover,
.navbar-color .navbar-header > a:focus {
	background-color: #fff;
}
.navbar-brand>img {
	position: absolute;
	left: 8px;
	top: 4px;
	width: 67px;
	height: 25px;
}
.navbar-color {
	background-color: transparent;
	border-color: transparent;
}
.padding0 {
	padding: 0;
}
.navbar-item > li {
	width: 100%;
}
.navbar-color .navbar-item > li > a {
	font-family: 'Microsoft YaHei Regular', 'Microsoft YaHei';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.447058823529412);
    background-color: #3F3F3F;
}
.navbar-color .navbar-item>.active>a, .navbar-color .navbar-item>.active>a:focus,
.navbar-color .navbar-item>.active>a:hover {
    color: #fff;
    background-color: rgba(16, 141, 233, 1);
}
.navbar-color .navbar-item>li>a:hover, .navbar-color .navbar-item>li>a:focus {
    color: rgba(255, 255, 255, 0.447058823529412);
    background-color: #3F3F3F;
}
.navbar-color .navbar-item > li > a > img {
	margin-right: 10px;
}
.second-menu {
	min-width: 130px;
	max-width: 130px;
}
.second-menu>li>a {
    padding: 3px 10px;
}
/*内容区*/
.content {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 130px;
}
/*内容区-头部*/
.content-head {
	width: 100%;
	height: 64px;
	line-height: 64px;
	border-bottom: 1px solid #000;
}
.margin0 {
	margin-left: 0;
	margin-right: 0;
}
.help {
	float: right;
	margin-right: 20px;
}
.user {
	float: right;
}
.head-img {
	width: 32px;
	height: 32px;
	background: inherit;
	background-color: rgba(153, 153, 153, 0.458823529411765);
	border: none;
	border-radius: 15px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 18px;
	color: #FFFFFF;
	float: left;
	margin-top: 16px;
	margin-right: 10px;
}

/*内容正文区*/
.content-body {
	width: 100%;
	background-color: #F4F4F4;
	padding: 20px 15px;
}
.content-details-wrap {
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 20px;
}
.details-form {
	width: 100%;
	background-color: #FBFBFB;
	border: 1px solid #ECECEC;
	padding: 15px 20px;
	font-family: 'Microsoft YaHei Regular', 'Microsoft YaHei';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	text-align: left;
}
.details-form input {
	width: 70%;
	height: 32px;
	vertical-align: middle;
	margin-left: 6px;
	border: 1px solid #ECECEC;
	border-radius: 5px;
	padding: 5px;
}
.order-item {
	float: left;
	line-height: 32px;
	min-width: 91px;
	text-align: right;
}
.mb15 {
	margin-bottom: 15px;
}
.order-num {
	border: 1px solid #ECECEC;
	line-height: 30px;
	border-radius: 5px;
	padding: 0 10px;
	text-align: left;
}
.order-num > img {
	width: 8px;
	height: 10px;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	opacity: 0.449999988079071;
	font-family: 'Microsoft YaHei Regular', 'Microsoft YaHei';
	font-weight: 400;
	font-style: normal;
	margin-top: 11px;
	float: right;
}
.btns {
	text-align: right;
}
.result-num {
	margin: 30px 0;
    font-family: 'Microsoft YaHei Regular', 'Microsoft YaHei';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #666666;
}
/*搜索列表*/
.list-item {
	margin-bottom: 10px;
}
.list-title {
	margin-bottom: 5px;
}
.list-title > div > div {
	padding: 15px 0;
	border-left: 1px solid #ECECEC;
	background-color: #F4F4F4;
	text-align: center;
	font-family: 'Microsoft Tai Le Bold', 'Microsoft Tai Le';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    color: #666666;
    line-height: 18px;
}
.list-title > div > div > input[type='checkbox'] {
	height: 12px;
	margin-top: 0;
}
.item-number {
	padding: 5px 0;
	border-left: 1px solid #ECECEC;
	background-color: #F4F4F4;
	text-align: left;
	font-family: 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	color: #666666;
	text-align: left;
	line-height: 18px;
}
.cbx {
	text-align: center;
}
.item-msg {
	border: 1px solid #ECECEC;
	
}
.product {
	padding: 10px;
	vertical-align: middle;
}
.product > img {
	width: 57px;
	height: 57px;
	background-color: silver;
	float: left;
	margin-right: 10px;
}
.product-intro {
	font-size: 12px;
	color: #666666;
}
.item-msg > div {
	height: 79px;
}
.item-msg > div + div {
	border-left: 1px solid #ECECEC;
	text-align: center;
}
.count p {
	margin-top: 20px;
}
.p0 {
	padding-left: 0;
	padding-right: 0;
}
.mid {
	line-height: 79px;
}
.order-time > span {
	display: block;
	margin-top: 20px;
}
.order-time > span + span {
	margin-top: 0;
}
.import {
	padding: 5px 10px;
	text-align: center;
}
.operate nav {
	float: right;
}
.pagination {
	margin-top: 0;
}
.pagination-self>li>a, .pagination-self>li>span {
    margin-left: 8px;
    border-radius: 3px;
    padding: 3px 9px;
}

/*优惠券管理页面*/
.coupon-manage {
	padding: 40px 20px;
}
.edit-content > div > span {
	display: inline-block;
	/*自己注释掉的
	min-width: 90px;
	text-align: right;*/
	padding: 5px 0;
	margin-right: 5px;
	/*自己添加的开始*/
	text-align: left;
	min-width: 150px ;
	/*自己添加的结束*/
}
.edit-content > div {
	margin-bottom: 20px;
}
.edit-content > div > input,
.edit-content > div > textarea {
	border: 1px solid #ECECEC;
	border-radius: 5px;
	padding: 5px;
}
.mr10 {
	margin-right: 10px;
}
.select {
	background: url(../images/u806.png) no-repeat right center;
	-webkit-background-size: 8px 10px;
	background-size: 8px 10px;
}
.edit-content > div > textarea {
	vertical-align: top;
	width: 220px;
}
.edit-content > div > input + input[type='radio'] {
	margin-left: 2%;
}
.edit-content .create-way {
	margin-bottom: 100px;
}
.upload > img {
	width: 85px;
	height: 85px;
	border: 1px solid #ECECEC;
}
.upload-operate {
	margin-left: -20px;
	margin-right: -20px;
	border-top: 4px solid #ECECEC;
	margin-top: 60px;
	padding-top: 20px;
}
.upload-operate button {
	margin-left: 10%;
}
.upload-operate button + button{
	margin-left: 0;
}
.jumpto {
	float: right;
}
.item-nums {
	padding: 5px;
	border: 1px solid #ECECEC;
	border-radius: 4px;
}
.page-num {
	display: inline-block;
	width: 40px;
	height: 28px;
	border: 1px solid #ECECEC;
	border-radius: 4px;
 }

@media (min-width: 768px) {
	.navbar-nav {
	    margin-top: 40px;
	}
	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
}
@media (max-width: 767px) {
	.sidebar {
		height: 64px;
	}
	.content {
		padding-left: 0;
	}
	.coupon-manage {
	    padding: 40px 0;
	}
	.logo {
		display: none;
	}
	.long-title {
		margin-left: 30px;
	}
	.padding0 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar-item .open .second-menu .dropdown-header, .navbar-item .open .second-menu>li>a {
	    padding: 5px 5px 5px 15px;
	}
	.upload-operate {
		margin-left: 0;
		margin-right: 0;
	}
	.pagination-self {
		margin-top: 10px;
	}




}